<%- include("template/cabecera",{
    tituloweb:'Página de servicios'
}) %> 

    <h1 class="text-capitalize">Página servicios ejs</h1>
    <h2><%= tituloServicios %></h2>
    <a class="btn btn-primary btn-sm " href="#" role="button">soy un boton </a>


<%- include("template/footer")%> 